@charset "utf-8";
$common-bg:#3f4650;
$light:#fff;
$text:#878787;
$weak-bg:#fcfcfc;
$blue:#5f8cd0;

/* 强辅助 */

$font-size-text:14px;
$font-size-title:15px;
$line:#e9ebee;

/* reset */

html,
body,
div,
input,
ul,
li,
p,
h1,
h2,
h3,
h4,
span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: helvetica, "微软雅黑", "microsoft yahei", Verdana, Lucida, arial, sans-serif, "黑体";
    font-size: $font-size-text;
}

div {
    border: none
}

a:active,
a:link {
    border: none;
    outline: none;
    text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

ul li {
    list-style: none;
}

.f-lfet {
    float: left;
}

.clearfix:after {
    content: " ";
    clear: both;
}

.pointer {
    cursor: pointer;
}

.curno {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}


/* 主体 */

.chart {
    display: block;
}

.news-window {
    position: fixed;
    bottom: -500px;
    right: 60px;
    z-index: 999;
    .chart {
        .tips {
            background: #f4f4f4;
            border-radius: 15px;
            padding: 4px 17px;
        }
        .chart-text {
            display: inline-block;
            word-wrap: break-word;
            word-break: break-all;
            border-radius: 7px;
            padding: 4px 17px;
            position: relative;
            min-height: 26px;
            &:after {
                content: '';
                position: absolute;
                width: 0;
                overflow: hidden;
                border: 5px #fff solid;
                border-left: 8px #f4f4f4 solid;
                height: 0;
                top: 9px;
            }
        }
        .left-tips {
            margin-bottom: 8px;
            .chart-text {
                background: #f4f4f4;
                &:after {
                    border-left-color: #fff;
                    border-right-color: #f4f4f4;
                    left: -12px;
                    right: auto;
                }
            }
        }
        .tips {
            .chart-text {
                &:after {
                    left: -30px;
                }
            }
        }
        .right-tips {
            margin-bottom: 8px;
            .chart-text {
                background: #5f8cd0;
                color: $light;
                &:after {
                    border-left-color: #5f8cd0;
                    right: -12px;
                }
            }
        }
        .time {
            display: block;
            font-size: 12px;
            color: #ccc;
            margin-top: 4px;
        }
        .cur {
            display: none;
        }
        width: 620px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: $light;
        z-index: 999;
        .header {
            position: relative;
            height: 40px;
            line-height: 40px;
            background-color: $common-bg;
            padding-left: 17px;
            color: $light;
            font-size: $font-size-title;
            .close {
                display: inline-block;
                margin-right: 15px;
                margin-top: 12px;
                float: right;
                width: 16px;
                height: 16px;
                background: url(../../img/im-cust-ico.png) no-repeat;
                background-position: -40px 0px;
                &:hover {
                    background-position: -40px -16px;
                }
            }
        }
        .main {
            background: $light;
            overflow: hidden;
            box-shadow: 0px 0px 65px #696969;
            .body-im-right {
                width: 424px;
                .tab {
                    display: inline-block;
                    height: 30px;
                    line-height: 30px;
                    width: 424px;
                    text-align: center;
                    border-bottom: 1px solid $line;
                    a {
                        display: inline-block;
                        color: $text;
                    }
                    .current {
                        color: #5f8cd0;
                        border-bottom: 1px solid #5f8cd0;
                        z-index: 99;
                        position: relative;
                    }
                    .history-btn {
                        margin-left: 85px;
                    }
                }
                .tab-content {
                    .history-m {
                        position: relative;
                        padding-bottom: 20px;
                        height: 250px;
                        .chat-history-wrap {
                            height: 230px;
                            overflow: auto;
                            background: $weak-bg;
                            .chat-list-history {
                                padding: 17px;
                            }
                        }
                        .history-show {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            color: $text;
                        }
                    }
                }
                .content {
                    overflow-y: auto;
                    height: 250px;
                    background: $weak-bg;
                    .chat-list {
                        margin: 17px;
                    }
                }
                #talk {
                    height: 78px;
                    padding: 2px 5px;
                    border-top: 1px solid $line;
                    border-bottom: 1px solid $line;
                    overflow: auto;
                }
                .edit-list {
                    display: inline-block;
                    background: $weak-bg;
                    height: 38px;
                    line-height: 38px;
                    .expression {
                        position: relative;
                        display: inline-block;
                        margin-right: 5px;
                        margin-left: 20px;
                        a {
                            display: inline-block;
                            color: $text;
                            .icon {
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                background: url(../../img/im-cust-ico.png) no-repeat;
                                background-position: 0px 0px;
                                vertical-align: middle;
                            }
                            .text {
                                margin-left: 6px;
                                vertical-align: middle;
                            }
                            &:hover {
                                .icon {
                                    background-position: 0px -20px;
                                }
                            }
                        }
                        .emojis {
                            position: absolute;
                            left: -15px;
                            top: -108px;
                            width: 228px;
                            height: 108px;
                            cursor: pointer;
                            overflow-y: auto;
                            border: 1px solid #ccc;
                            background-color: #fff;
                        }
                    }
                    .sendMsg {
                        display: inline-block;
                        margin-left: 251px;
                        color: $light;
                        padding: 0px 20px;
                        background: $blue;
                        line-height: 28px;
                        border-radius: 4px;
                        &:hover {
                            background: #4c70a6;
                        }
                    }
                }
            }
            .body-left {
                width: 196px;
                height: 396px;
                border-right: 1px solid $line;
                background: #f8f8f8;
                overflow: auto;
                .user {
                    li {
                        height: 60px;
                        cursor: pointer;
                        .icon {
                            width: 65px;
                            height: 100%;
                            text-align: center;
                            padding-top: 13px;
                            position: relative;
                            img {
                                width: 34px;
                                height: 34px;
                                border-radius: 50%;
                            }
                            .read {
                                position: absolute;
                                right: 10px;
                                top: 10px;
                            }
                        }
                        .tit {
                            border-bottom: 1px solid $line;
                            height: 100%;
                            width: 130px;
                            .customerName {
                                display: block;
                                color: #737373;
                                margin-top: 10px;
                            }
                            .name {
                                color: #bebebe;
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -o-text-overflow: ellipsis;
                                white-space: nowrap;
                                width: 122px;
                            }
                        }
                    }
                    .selec {
                        background: #ebebeb;
                    }
                }
            }
        }
        .history {
            margin-right: 5px;
        }
    }
}

.news-box {
    width: 105px;
    position: fixed;
    bottom: 80px;
    right: 60px;
    background-color: #4677C1;
    z-index: 999;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 42px;
    border-radius: 40px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    img {
        vertical-align: middle;
        width: 18px;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -9px;
    }
    .news-show {
        color: $light;
    }
    .twinkle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}
